$breakpoints:('sm':425px , 'md':768px ,'lg':1024px);

 //colors
 $grey: rgba(151, 151, 151, 0.842);
 $grey2: rgba(153, 152, 152, 0.287);
 $primary: rgba(249,226,0,255);
 $black:rgba(41,40,45,255);


 //fonts
 $title2:'Satisfy', cursive;
 $title:'Lobster', cursive;
 $subTitle:'Teko', sans-serif;
 
