.bmi{
    padding: 50px 30px 10px 30px;


    h1{
        font-family: $subTitle;
        text-align: center;
    }

    h3{
        font-family: $title;
        text-align: center;
        font-size: 30px;
        margin: 0px;
        color: $primary;
    }
   
    table{
        border-collapse: collapse;
        width: 100%;
    }

    thead th{
        background-color: $primary;
        color: black;
        text-align: left;
        border: none;
        padding: 5px 20px;
      
    }
    
    tbody tr{
        border: 1px solid gray;
        
    }
    tbody td{
        border: 1px solid gray;

        padding: 20px;
        color: white;
        background-color: black;
    }

    tfoot{
        background-color: $primary;
        font-weight: bolder;
      
    }

    tfoot td{
        padding: 12px;
    }

    .bmiCalculator{
        display: flex;
        flex-direction: column;
    }

    .bmiCalculator input,select{
        padding: 5px;
        margin: 10px;
    }

    .submit{
        padding: 10px 15px;
        background-color: $black;
        color: white;
        font-size: 18px;
        position: relative;
        overflow:  hidden;
    }
    .submit:hover{
        background-color: $primary;
        color: black;
        font-weight: bolder;
    }

    .submit::before{
        content: " ";
        background-color: white;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 50px;
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s;

    }

    
.submit:hover:before{

    transform: translate(100%) rotate(45deg);

}
}


@media (min-width:720px) and (max-width:1200px){


 
    .bmiBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    
    .inputBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}


@media (min-width:1200px){

    .bmiBox{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        padding: 100px 0px;
        width: 80%;
        margin: auto;
      
    }

    
    .inputBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

   
}